---
import { getEntry } from "astro:content";
import { defaultLocale, type Locale } from "../../i18n/site";

const locale = (Astro.currentLocale ?? defaultLocale) as Locale;
const entry = await getEntry("terms", locale);
const content = entry!.data;
---

<section
	class="relative flex min-h-[30vh] w-full items-center overflow-hidden pt-[calc(var(--spacing-section)*2)] pb-[calc(var(--spacing-section)*1.25)]"
>
	<div
		class="relative z-2 mx-auto w-full max-w-(--width-content) px-(--spacing-outer) text-center"
	>
		<h1 class="font-serif text-5xl md:text-7xl">
			{content.hero.heading}
		</h1>
	</div>
</section>

<section class="py-(--spacing-section)">
	<div class="mx-auto max-w-(--width-content) px-(--spacing-outer)">
		{
			content.sections.map((section) => (
				<div class="mb-12 last:mb-0">
					<h2 class="mb-4 font-serif text-2xl leading-snug">
						{section.heading}
					</h2>
					{section.paragraphs.map((p) => (
						<p class="mb-4 last:mb-0 " set:html={p} />
					))}
				</div>
			))
		}
	</div>
</section>
